.overlay{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: #FFFFFFC4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.expensepopup{
    background-color: "#EFEFEF";
    border-radius: 15px;
    width: 30%;
    height: 40%;
    box-shadow: 0 4px 12px  rgba(0,0,0,0.3);
}
.balancepopup{
    background-color: "#EFEFEF";
    border-radius: 15px;
    width: 30%;
    height: 30%;
    box-shadow: 0 4px 12px  rgba(0,0,0,0.3);
}